.container {
  padding: 16px;
}
.header {
  margin-bottom: 12px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
.pageResultsInfo {
  display: flex; 
  justify-items: flex-start;
  align-items: center;
}
.pageResultsInfo h1 {
  width: fit-content;
}
.selectMenu {
  /* width: 150px */
}
.input {
  display: flex;
}
.pageResultsInfo :global(.select-menu__button:focus) {
  outline: none;
  border: none;
}
.pageResultsInfo :global(.select-menu__button) {
  margin-top:4px;
  border: none;
}
.pageResultsInfo :global(.select-menu__label) {
  font-size: 13px;
  /* color: #666; */
}
.pageResultsInfo :global(.select-menu__menu--active) {
  top: 30px !important;
}