.figmaItem {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
}
.figmaItem.active, .figmaItem:hover {
  background-color: #18a0fb14;
  border: 1px solid #18a0fb;
}
.componentText {
  color: #8638e5;
}
.header {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  justify-content: space-between;
  cursor: pointer;
}
.header :global(.section-title) {
  cursor: pointer;
}

.figmaItemType {
  color: #666;
  font-size: 12px;
}
.figmaItemName {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.figmaItemName svg {
  height: 16px;
  width: 16px;
}
.figmaItemName p {
  max-width: 312px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.figmaItemNodeId {
  font-size: 12px;
  color: #666;
  justify-self: flex-end;
}
.details {
  transition: all 0.5s ease-out;
  overflow: scroll;
  max-height: 0px;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 8px;
  background-color: #fff;
  border-radius: 4px;
}
.details.show {
  max-height: 400px;
  opacity: 1;
}

.btnWrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.btnWrapper button {
  cursor: pointer;
}
.btnWrapper button:hover {
  opacity: 0.7;
}
.detailsTabs {
  display: flex;
  gap: 12px;
  padding: 0 8px;
}
.detailsTab {
  cursor: pointer;
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}
.detailsTab:hover {
  color: #000;
}
.activeTab {
  color: #000;
}
.detail {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.detail p {
  flex: 7;
  max-height: 80px;
  overflow: scroll;
}
.detailsPanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
div.detailLabel {
  width: fit-content;
  height: fit-content;
  flex: 1
}
.propertyDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.propertySearchInput {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.divider {
  width: 100%;
  border: 0.5px solid #e5e5e5;
  margin: 8px 0;  
}