.page {

}
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.pageTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.pageTitle div {
  /* height: 12px; */
  width: 12px;
  cursor: pointer;
}
.pageCount {
  color: #666;
  font-size: 12px;
}
.itemList {
  padding-left: 8px;
}