.searchSettingsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.searchSettingsBtn svg{
  width: 14px;
  cursor: pointer;
}
.searchSettingsBtn:hover, .searchSettingsBtn.active {
  background-color: #0c8ce9;
  border-radius: 4px;
}
.searchSettingsBtn:hover svg path, .searchSettingsBtn.active svg path {
  fill: #fff;
}